<!DOCTYPE html>
<html>
  <head>
    <title>RU.js demos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    button, img {
      margin: 5px 5px;
    }
    .centered-container {
      margin: 20px;
      display: flex;
      justify-content: center;
    }
    .centered-text {
      text-align: center;
    }
    .margin-right {
      margin-right: 5px;
    }
  </style>
  <body>
    <header class="centered-text">
      <h1>RU.js demos</h1>
    </header>
    <main>
      <section>
        <!-- <div class="centered-container"> -->
        <!--   <span class="margin-right"> pick a .png or .jpg file: </span> -->
        <!--   <input type="file" onchange="onImageSelected(event)" /> -->
        <!-- </div> -->
        <div class="centered-container">
	  <button id="snap">Snap Photo</button>
	  <button id="snap_detect_id">Snap & Detect ID Contours</button>
	  <button id="snap_detect_faces">Snap & Detect Faces</button>
	  <button id="stop">Stop Camera</button>
	  <button id="restart">Restart Camera</button>
        </div>
      </section>
      <section>
        <div class="centered-container">
	  <video id="video" width="500" height="500" autoplay></video>
	  <canvas id="input" width="640" height="480"></canvas>
          <img id="output" src="" width="500" height="500" />
        </div>
      </section>
    </main>
    <script src="./api.js"></script>
    <script src="./helpers.js"></script>
    <script>
      // Grab elements, create settings, etc.
      var video = document.getElementById('video');
      var selectedFile;
      var selectedFileData;
      
      // Elements for taking the snapshot
      var canvas = document.getElementById('input');
      var context = canvas.getContext('2d');
      var video = document.getElementById('video');

      
      // Get access to the camera!
      if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      // Not adding `{ audio: true }` since we only want video now
      navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
      video.srcObject = stream;
      video.play();
      });
      }
      
      // Trigger photo take
      document.getElementById("snap").addEventListener("click", function() {
      context.drawImage(video, 0, 0, 640, 480);
      selectedFileData = canvas.toDataURL();
      });

      document.getElementById("snap_detect_id").addEventListener("click",
      function() {
      context.drawImage(video, 0, 0, 640, 480);
      selectedFileData = canvas.toDataURL();
      detectLines();
      });

      document.getElementById("snap_detect_faces").addEventListener("click",
      function() {
      context.drawImage(video, 0, 0, 640, 480);
      selectedFileData = canvas.toDataURL();
      detectFaces();
      });

      document.getElementById("stop").addEventListener("click", function() {
      video.pause();
      video.srcObject.getTracks().forEach(function(track) { track.stop(); })
      });

      document.getElementById("restart").addEventListener("click", function() {
      video.play();
      navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
      video.srcObject = stream;
      video.play();
      });
      });
            
      function onImageSelected(e) {
        selectedFile = e.target.files[0];
        var reader = new FileReader();
        reader.onload = function(re) {
          selectedFileData = re.target.result;
          displayImage('input', selectedFileData);
          document.getElementById('output').src = '';
        };
        reader.readAsDataURL(selectedFile);
      }

      function sendDetectionRequest(imageData, endpoint) {
        sendXhr(imageData, endpoint, function(err, responseImgData, responseText) {
          if (err) {
            console.error(err);
          } else {
            if (responseImgData) {
              displayImage('output', responseImgData);
            }
          if (responseText) {
             var h = document.createElement("p");
             var i = document.createElement("hr");
             var t = document.createTextNode(responseText);
             h.appendChild(i);
             i.appendChild(t);
             document.body.appendChild(h);
            }
          }
      
        });
      }

      function detectFaces() {
        return sendDetectionRequest(selectedFileData, 'faces');
      }

      function detectLines() {
        return sendDetectionRequest(selectedFileData, 'lines');
      }
    </script>
  </body>
</html>
